<table>
    <tr>
        <th>Nom</th>
        <td>{{ provider.Nom }}</td>
    </tr>
    <tr>
        <th>Correu</th>
        <td>{{ provider.Correu }}</td>
    </tr>
    <tr>
        <th>Teléfon</th>
        <td>{{ provider.Telefon }}</td>
    </tr>
    <tr>
        <th>Tipus</th>
        <td>{{ provider.Tipus }}</td>
    </tr>
    <tr>
        <th>Estat</th>
        <td>{{ provider.Estat }}</td>
    </tr>
    <!-- Otros campos -->
</table>


<form method="POST" action="{{ path('editar_proveidor', {'id': provider.id}) }}">
    <input type="text" id="Nom" name="Nom" value="{{ provider.Nom }}" required>
    <input type="text" id="Correu" name="Correu" value="{{ provider.Correu }}" required>
    <input type="text" id="Telefon" name="Telefon" value="{{ provider.Telefon }}" required>
    <input type="text" id="Tipus" name="Tipus" value="{{ provider.Tipus }}" required>
    <input type="text" id="Estat" name="Estat" value="{{ provider.Estat }}" required>

    <button type="submit">Guardar</button>
</form>