<!DOCTYPE html>
<html>
    <head>
        <title>PROVEÏDORS</title>
    </head>
    <body>
        <section>
            <h1>Crear Proveïdor</h1>
            <button onclick="mostrarCamp()">Crear</button>

            <form id="camp" style="display: none" action="{{ path('guardar_proveidor') }}" method="POST">
                <label for="Nom">NOM:</label>
                <input type="text" id="Nom" name="Nom" required>
                <br>

                <label for="Correu">CORREU:</label>
                <input type="text" id="Correu" name="Correu" required>
                <br>

                <label for="Telefon">TELEFON:</label>
                <input type="text" id="Telefon" name="Telefon" required>
                <br>

                <label for="Tipus">TIPUS:</label>
                <input type="text" id="Tipus" name="Tipus" required>
                <br>

                <label for="Estat">ESTAT:</label>
                <input type="text" id="Estat" name="Estat" required>
                <br>

                <button type="submit">Guardar</button>
            </form>
        </section>

        <section>
            <h1>Veure llista Proveidors</h1>
            <a href="{{ path('mostrar_proveidors') }}" class="boton">Llistat</a>


        </section>
    </body>

</html>

<script>
    function mostrarCamp(){
        document.getElementById('camp').style.display = 'block';
    }

    /*function guardarText(){
        var textNom = document.getElementById('nom').value;
        var textMail = document.getElementById('mail').value;
        var textTelf = document.getElementById('telf').value;
        var textType = document.getElementById('type').value;
        var textActive = document.getElementById('active').value;
        console.log(textNom, textMail, textTelf, textType, textActive);
    }*/
</script>