<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Correu</th>
        <th>Telefon</th>
        <th>Tipus</th>
        <th>Estat</th>
    </tr>
    </thead>
    <tbody>
    {% for provider in providers %}
        <tr>
            <td>{{ provider.id }}</td>
            <td>{{ provider.Nom }}</td>
            <td>{{ provider.Correu }}</td>
            <td>{{ provider.Telefon }}</td>
            <td>{{ provider.Tipus }}</td>
            <td>{{ provider.Estat }}</td>

            <td>
                <a href="{{ path('eliminar_proveidor',{'id': provider.id}) }}">Eliminar</a>
            </td>

            <td>
                <a href="{{ path('veure_proveidor', {'id': provider.id}) }}">Editar</a>
            </td>
        </tr>
    {% endfor %}

    <td>
        <a href="{{ path('index') }}">Inici</a>
    </td>
    </tbody>
</table>